.jk{
    color: red;
    /* text-align: center; */
}
.vs{
    color:royalblue;
    text-align: right;
}
#gg{
    border: 2px solid  white;
}
*{
    background-color: black;
    margin: 20px;
    padding: 10px;
}